*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
#infoe{
    font-size: 80px;
    font-family:'Pacifico', cursive;
    font-size: 80px;
    color: #ff9823;
    
}
#infood{
    color: rgb(94, 30,30);
    font-size: 80px;
    font-family: 'Jost', Tahoma, Geneva, Verdana, sans-serif;
    font-size:80px;
}
#infotoys{
    color:rgb(255, 185, 80);
    font-size:80px;
    font-family:'Jost';
    font-size:80px;
}
#infooe{
    font-size: 30px;
}
nav{
    display:flex;
    justify-content:space-around;
    align-items: center;
    min-height: 13vh;
    background-color: #434b4d00;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    background-color: #ffbc7e;
    

}

#nav1{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    min-height: 10vh;
    background-color: #434b4d00;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}

body{
    background-size: 100%;
     image-resolution: 100%;
     background-color: #fff7d9;
     background-repeat: no-repeat;
     background-attachment: fixed;
}

#A{
    transition: 0.3s;
}
#A:hover{
    
    font-size: 18px;
    background-color: rgb(255, 113, 47);
    border-radius: 40px;
    box-shadow: 10 px, 20 px,rgb(36, 161, 120);
    padding: 8px;
     
}

#C{
    transition: 0.3s;
}
#C:hover{
    font-size: 18px;
    background-color: rgb(255, 97, 70);
    border-radius: 50px;
    box-shadow: 10 px, 20 px,rgb(36, 161, 120);
    padding: 8px;
}


#H{
    transition: 0.3s;
}
#H:hover{
    font-size: 18px;
    background-color: rgb(255, 175, 70);
    border-radius: 50px;
    box-shadow: 10 px, 20 px,rgb(36, 161, 120);
    padding: 8px;
}


/* this is for the img gif*/ 
.logo{
    color:ghostwhite;
    letter-spacing: 5px;
    font-size: 2px;

  
}
#mete{size:20%}

.homepage{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding: 20px;
    
}

.homepage li{
    list-style: none;
    
}

.homepage a{
    color:ghostwhite;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
}

.extension div{
    width: 25px;
    height: 5px;
    background-color: ghostwhite;
    margin: 5px;
}

@media screen and (max-width: 1024px){
    .homepage{
        width: 60%;
    }
}

@media screen and (max-width: 720px){
    .body{
        overflow-x: hidden;
    }
   
    .homepage{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5ba8bb;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform:translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .homepage li{
        opacity: 0;
    }
    .extension{
        display: block;
    }

}

.homepage-active{
    transform: translateX(0%);
}

.toggle .line1{
    transform: rotate(-45deg translate(-5px, 6px));
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg translate(-5px, 6px));
}

.box{
    margin-top: 250px;
    margin-left: 550px;
    background: white;
    padding: 2em;
    width: 30em;
    box-shadow: black 10px 10px;
    text-align: center;
    font-size: 30px;
}
.box2{
    margin-top: 100px;
    margin-left: 550px;
    background: white;
    padding: 2em;
    width: 30em;
    box-shadow: black 10px 10px;
    text-align: center;
    font-size: 30px;
}

.box3{
    margin-top: 150px;
    margin-left: 550px;
    background: white;
    padding: 2em;
    width: 30em;
    box-shadow: black 10px 10px;
    text-align: center;
    font-size: 30px;
}

/* for the games*/


/**/
#active{
    font-size: 18px;
   
   
    border-bottom: 2px solid #ff4a4a;
    box-shadow: 10 px, 20 px;
    font-family: 'Segoe UI';
}
body{
    text-align: center;
    
}

p{

    font-family: 'Dongle', sans-serif;
}

#Welcome{
    margin-top: 22%;
    color: #ff8d6b;
    font-family: 'Pacifico', cursive;
    font-size: 62px;
    width: 80%;
    border-radius: 40px;
    align-self: center;
    margin: auto;
    background-color:#fd8b2e10 ;
  box-shadow: 7px 7px;
}
#end{
    height: 20%;
    background-color:#ffab43;
    

    

}

#endss{
    height: 10%;
    background-color:#ffab43;
}
#ends{
    height:10%;
    background-color:#ffab43;
}
#games1{
   
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    background-color: #ffc068;
    padding-bottom: 10%;
    border-radius: 20px;
    
}
#colls{
    color :#ffe8cb;

}
button{
    visibility: hidden;
    border: none;
    color: white;
    
    
    width: 57px;
    text-align: center;
    text-decoration: none;
 
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 24%;
    font-family: 'Dongle', sans-serif;
    background-color: #ff891b;
    
}
#btn1{
    position: relative;
     width: 20px;
     width:40%;
     border-radius: 22px;
    left:2%
}

#btn2{
    position: relative;
    width:40%;
    border-radius: 22px;
    left:2%
}
#btn3{
        position: relative;
    width:40%;
    border-radius: 22px;
    left:2%
}
#btn4{
    position: relative;
    width:40%;
    border-radius: 22px;
    left:2%
}
#btn5{
    position: relative;
    width:40%;
    border-radius: 22px;
    left:2%
}
/*width: 100%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    background-image:url(forgames/coloindicator2.png);
    background-repeat: no-repeat ;
    background-size: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-position: 0px;*/
#Food{
     
      background-color: rgb(6, 39, 29);
      background-image: url(allimgs/doggyfood.jpg)  ;
      
     
    

      box-shadow: 2px, 7px, 40px, 6px, #ffce2c;
      object-position:left;
    
      background-size: 822px;
      background-repeat: no-repeat;
    background-position: -240px;
    background-position-y: 0px;
   display: flex;
   overflow-wrap: break-word;

   vertical-align:top;
    display: inline-block;
      width: 14%; 
      transition:0.2s ease-out 0s;
     margin-right: 2%;
      height: 32em;
      border-radius: 20px;
     
     
}
#minecraft img{
    opacity: 0.2;
}

#minecr::after {
    content: "";
    background: url(forgames/Minecraftpic4.png);
    opacity: 0.5;
   
    position: absolute;
    z-index: -1;   
  }

#Food:hover{

    width: 25%;
    border:rgb(241, 162, 58);
    background-image: url(allimgs/doggyfood.jpg); 
    background-size: 820px;
    background-attachment: -10px;
    background-repeat: no-repeat;
    background-position: -200px;
    background-position-y: 0px;
    overflow-wrap: break-word;
    

    }
    #Name1{
       visibility: hidden;
       font-size: 40px;
       color: rgb(94, 30, 30);
    
       width: 100%;
       
       font-family: 'Jost', sans-serif;
      
    }
     #Desc1{
         visibility: hidden;
       
         position: relative;
         right:4.6%;
         font-size: 26px;
         overflow-wrap: break-word;
         color: rgb(82, 47, 47);
         
       
     }
     #Other1{
         visibility: hidden;
         font-size: 26px;
         color: rgb(88, 48, 48);
      
     
     }

   
    

     #Toy{
         color: rgba(247, 185, 115, 0.452);
        background-color: rgb(6, 39, 29);
        background-image: url(allimgs/catplay.jpg) ;
        object-position:left;
       
        background-size: 847px;
        background-repeat: no-repeat;
      background-position: -370px;
      background-position-y: 0px;
     display: flex;
     overflow-wrap: break-word;
  
     vertical-align:top;
      display: inline-block;
        width: 14%; 
     
       margin-right: 2%;
        height: 32em;
        transition: 0.2s;
        border-radius: 20px;
  
    }
#Toy:hover{ 
    width: 25%;
    background-image: url(allimgs/catplay.jpg); 
    background-size: 857px;
    background-attachment: -10px;
    background-repeat: no-repeat;
    background-position: -384px;
    background-position-y: 0px;
    overflow-wrap: break-word;}

    #Name2{
        visibility: hidden;
        font-size: 36px;
        color: rgb(255, 228, 187);
        background-color: rgba(255, 161, 38, 0);

        
        width: 100%;
        
        font-family: 'Jost', sans-serif;
    }
    #Desc2{
      color: #ffd0d0;
      visibility: hidden;
      font-size: 26px;
      position: relative;
      left:-8%;
      overflow-wrap: break-word;
      
    }

    #Other2{

        color:rgb(255, 202, 202);
        visibility: hidden;
        font-size:26px; overflow-wrap: break-word;
    }

    #Clothes{
        color: rgba(247, 185, 115, 0.452);
        background-color: rgb(6, 39, 29);
        background-image: url(allimgs/doggysuit.jpg) ;
        object-position:left;
       
        background-size: 820px;
        background-repeat: no-repeat;
      background-position: -370px;
      background-position-y: -28px;
     display: flex;
     overflow-wrap: break-word;
  
     vertical-align:top;
      display: inline-block;
        width: 14%; 
     
       margin-right: 2%;
        height: 32em;
        transition: 0.2s;
        border-radius: 20px;
  

    }



    #Clothes:hover{
        width: 25%;
        background-image: url(allimgs/doggysuit.jpg); 
        background-size: 820px;
        background-attachment: -200px;
        background-repeat: no-repeat;
        background-position: -287px;
        background-position-y: -28px;
        overflow-wrap: break-word;

    }

    #Name3{
        visibility: hidden;
        font-size: 40px;
        color: rgb(94, 30, 30);
        background-color: rgba(255, 161, 38, 0);
     
        width: 100%; 
        
        font-family: 'Jost', sans-serif;
    }

    #Desc3{
        visibility: hidden;
       
        position: relative;
        right:4.6%;
        font-size: 26px;overflow-wrap: break-word;
        color:rgb(250, 238, 111);
    }

    #Other3{
         
        color:rgb(250, 238, 107);
        visibility: hidden;
        font-size:26px; overflow-wrap: break-word;
    }

 
  #Name2{vertical-align:top}
  #Name4{
    visibility: hidden;
    font-size: 40px;
    color: rgb(59, 255, 134);
    background-color: rgba(255, 161, 38, 0);
 
    width: 100%; 
    
    font-family: 'Jost', sans-serif;
  }
  #Desc4{
    visibility: hidden;
       
    position: relative;
    right:4.6%;
    font-size: 26px;overflow-wrap: break-word;
    color: rgb(176, 255, 212);  }
   #Other4{
    color:rgb(188, 255, 210);
    visibility: hidden;
    font-size:26px; overflow-wrap: break-word;
   }

#Suplements{
    transition: 0.2s;
     color: rgba(247, 185, 115, 0.452);
      background-color: rgb(6, 39, 29);
      background-image: url(allimgs/rabbytsuppl.jpg) ;
      object-position:left;
      background-size: 820px;
      background-repeat: no-repeat;
    background-position: -440px;
    background-position-y: 0px;
    vertical-align:top;
    margin-right: 2%;
    display: inline-block;  
    height: 32em;
    width: 14%;
    border-radius: 20px;
   

}


#Suplements:hover{
    width:25%;
    background-image: url(allimgs/rabbytsuppl.jpg); 
    background-attachment: -240px;
    background-size: 822px;
    background-repeat: no-repeat;
    background-position: -260px;
    background-position-y: 0px;
    overflow-wrap: break-word;
    
}

#Name5{
    visibility: hidden;
    font-size: 40px;
    color: rgb(255, 228, 187);
    background-color: rgba(255, 161, 38, 0);
 
    width: 100%; 
    
    font-family: 'Jost', sans-serif;
}
#Desc5{
    visibility: hidden;
       
    position: relative;
    right:4.6%;
    font-size: 26px;overflow-wrap: break-word;
    color: rgb(253, 193, 255);
}
#Other5{
    color:rgb(253, 197, 250);
    visibility: hidden;
    font-size:26px; overflow-wrap: break-word;
}

#Game5{
    background-color: rgb(252, 175, 255);
    display: inline-block;
    width: 20%;
    height: 32em;
    margin-right: 2%;

}

#Roblox{
    background-color: rgb(34, 12, 30);
    display: inline-block;
    width: 10%;
    height: 32em;
    margin-right: 0.7%;

}

#Game4{
    background-color: rgb(23, 4, 36);
    display: inline-block;
    width: 10%;
    height: 32em;
    margin-right: 0.7%;
    vertical-align:top

}

#games2{
    width:100%;
    padding-top: 20%;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    position: relative;

    

}





/* owo */
/* wow */